#chatBox
 {
 display:none;
 position:sticky;
 width:250px;
 height:250px;
 padding:10px;
 background:#68d3d4;
 color:#FF7700;
 text-align:center;
 font-family:Cambria;
 font-size:20px;
 bottom:0px;
 right:0px;
 float: right;
 cursor:pointer;
 }
 #close
 {
 position:absolute;
 width:25px;
 height:25px;
 padding:0;
 text-align:center;
 background:rgba(1,0,0,0.8);
 color:#FF7700;
 font-family:Cambria;
 right:0px;top:0px;
 }
 #FileUploadBox
 {
  display:none;
 position:sticky;
 width:250px;
 height:250px;
 padding:10px;
 background:#68d3d4;
 color:#FF7700;
 text-align:center;
 font-family:Cambria;
 font-size:20px;
 bottom:0px;
 right:0px;
 float: right;
 cursor:pointer;
 }
 #closefile
 {
 position:absolute;
 width:25px;
 height:25px;
 padding:0;
 text-align:center;
 background:rgba(1,0,0,0.8);
 color:#FF7700;
 font-family:Cambria;
 right:0px;top:0px;
 }